* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

#header {
  height: 40px;
  background-color: #F2F2F2;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 999;
  box-shadow: 0px 0px 6px rgba(0,0,0,.2);
}

.navigation-button {
  background: none;
  border: none;
  color: #707070;
  font-size: 2em;
  margin: 5px;
}

.navigation-button:focus {
  outline:0;
}

#add-medication {
  margin-right: 10px;
  cursor: pointer;
}

#medication-finder {
  margin-left: 10px;
}

.form-field {
  height: 24px;
  padding-left: 5px;
  outline: none;
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
  border-radius: 4px;
}

textarea {
  height: 100px !important;
}

#title {
  color: #707070;
}

#add-medication-form {
  width: 500px;
  height: calc(100vh - 80px);
  background: white;
  z-index: 888;
  position: absolute;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,.1);
  display: none;
  flex-direction: column;
  padding-top: 20px;
}

#post-medication, #update-medication {
  cursor: pointer;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    font-family: "Helvetica", arial, sans-serif;
    display: inline-block !important;
    visibility: visible !important;
}

#add-medication-form .form-field {
  margin: 15px;
  padding: 4px;
}

#add-medication-form label {
  margin-left: 15px;
}

#content {
  height: calc(100vh - 60px);
  width: 100%;
  overflow: overlay;
  /*overflow: hidden;*/
}

#footer {
  height: 20px;
  background-color: #F2F2F2;
  color: #707070;
  width: 100%;
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 6px rgba(0,0,0,.2);
}

#footer-content {
  margin: auto;
}

#medication-grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(8, 1fr);
}

#medication-grid-header {
  display: grid;
  position: sticky;
  top: 0;
  text-align: center;
  grid-template-columns: repeat(8, 1fr);
  padding: 5px 0px 5px 0px;
  background: #F8F8F8;
}

.medication-grid-item, .medication-header-item {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5px 0px 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.medication-grid-item.actions i {
  margin-left: 5px;
}
